/*
https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;600;700&display=swap
*/
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
/*
DareToLearn Colors:
light headline color: #00998F
dark green: #003745
body: #666

*/
* {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

.dark-green{
  color: #003745;
}

.brand-blue {
  color: #1162fe;
}



/*
a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-weight: bold;
  color: #003745;
  line-height: 1.5rem;
}

h3 {
  line-height: 1.5rem;
  color: #00998F;
  font-weight: bold;
}
*/

@media (min-width: 480px) {                             

  .MuiContainer-root {
    display: flex;
    flex-wrap: wrap;
  }

}

.MuiCard-root{
  flex-basis: 30%
}


.content-page {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.content-page .grid-2 {
  flex-basis: 70%;
}
.content-page .grid-1 {
  flex-basis: 30%;
  align-self: flex-start;
}

.content-page p {
  margin: 10px 0;
}

.content-page h2 {
  margin: 10px 0;
  color: #00998F;
  font-size: 1.3rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*=======================*/

/* header */

header div {
  font-size: 2em;
  align-self: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

header button, header a, header span > img {
  font-size: 2rem;
  border: none;
  padding: 0;
  background: transparent;
}

header div > img {
  max-height: 50px;
}

header .primary-menu-icons > * {
  margin: 0 10px;
  font-size: 2em;
}

@media (max-width: 480px) {     
.primary-menu-icons {
    padding: 10px 0 0 0 !important;
  }

}                        











.flex-container-space-around {
  display: flex;
  justify-content: space-around;
}

.checklist-container {
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  min-height: 150px;
}

.entry-header {
  background-color: #bdbdbd;
  text-transform: capitalize;
  padding: 10px;
}

.entry-content {
  padding: 0;
}

.checklist-container h2{
  font-weight: bold;
  font-size: 18px;
}

.checklist {
  padding: 20px;
}

.checklist > .todo-item {
  border-bottom: 1px dashed #404040;
}

.checklist > .todo-item:last-child {
  border-bottom: none;
}

.checklist > .todo-item {
  padding: 20px 0
}



/* ends form styling */

@media screen and (min-width: 767px) {

}

.wp-post-content {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  
}
.wp-post-content h2, .wp-post-content h3, .wp-post-content h4 {
  margin-bottom: 10px;
  margin-top: 20px;
}

.wp-post-content h2 {
    font-size: 3rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.167;
    letter-spacing: 0em;
}


.wp-post-content h3 {
    font-size: 2.125rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.235;
    letter-spacing: 0.00735em;
}

.MuiListItemIcon-root {
 min-width: 0;
}

.wp-post-content figure.wp-block-embed.is-type-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /*16:9*/
}
.wp-post-content figure.wp-block-embed.is-type-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wp-post-content {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.megadraft-block figure {
  max-width: 80% !important;
}

.schoolistit-lesson-creator {
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
  padding: 20px
}
.rdw-editor-toolbar {
  margin-bottom: 0px;
  border-bottom: none;
}